.edu-card {
  position: relative;
  margin: 0 0 15px 0;
  padding: 10px 10px;
  border-radius: 4px;
  overflow: hidden;
}
.edu-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.158);
  transition: 0.5s;
  z-index: -2;
}
.edu-card:hover::before {
  width: 100%;
}
.edu-card::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 2px;
  height: 0;
  background-color: var(--paleYellow);
  transition: 0.5s;
  z-index: -1;
}
.edu-card:hover::after {
  height: 100%;
}
.card-title-edu h5 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  color: white;
  transition: 0.5s;
}
.edu-card:hover h5 {
  font-weight: 700;
}
.card-title-edu p {
  font-size: 18px;
  font-weight: 200;
  line-height: 42px;
  color: var(--paleYellow);
  opacity: 0.7;
  transition: 0.5s;
}
.edu-card:hover p {
  font-weight: 400;
  opacity: 1;
}
.card-body-edu p {
  font-size: 17px;
  font-weight: 300;
  color: white;
  line-height: 24px;
}
@media (max-width:768px){
  .card-body-edu p{
    font-size: 14px;
  }
  .card-title-edu p{
    font-size: 14px;
  }
}