.personal_card_container {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--paleYellow);
}
.info p {
  margin: 0 0 10px 0;
  width: fit-content;
  color: var(--greenishLemonada);
  user-select: none;
}
.info p span {
  color: white;
  font-weight: 400;
  text-transform: capitalize;
}
.tags span {
  display: inline-flex;
  margin: 3px 5px 3px 0;
  background-color: var(--darkTeal);
  padding: 3px 5px;
  border-radius: 4px;
}
